<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-10" style="max-width: 400px">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h4
        class="text-center"
        style="font-weight: bold"
        id="app-controle-medicamentos-heading"
        data-cy="ControleMedicamentosCreateUpdateHeading"
      >
        Cadastrar Medicamento
      </h4>
      <div style="margin-top: 15px">
        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" appTranslate="healthFitApp.controleMedicamentos.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }
        <div class="mb-3">
          <label class="form-label" style="font-weight: bold" for="field_nomeMedicamento">Nome do Medicamento</label>
          <input
            type="text"
            class="form-control"
            name="nomeMedicamento"
            id="field_nomeMedicamento"
            data-cy="nomeMedicamento"
            formControlName="nomeMedicamento"
            placeholder="Nome medicamento"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" style="font-weight: bold" for="field_dosagem">Dosagem (mg)</label>
          <input
            type="text"
            class="form-control"
            name="dosagem"
            id="field_dosagem"
            data-cy="dosagem"
            placeholder="Dosagem medicamento"
            formControlName="dosagem"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" style="font-weight: bold" for="field_horarioIngestao">Horário de Ingestão</label>
          <div class="d-flex">
            <input
              id="field_horarioIngestao"
              data-cy="horarioIngestao"
              type="datetime-local"
              class="form-control"
              name="horarioIngestao"
              formControlName="horarioIngestao"
              placeholder="DD/MM/YYYY HH:mm"
            />
          </div>
        </div>
        <!-- <div class="mb-3" style="display: none;">
          <label class="form-label" for="field_internalUser" appTranslate="healthFitApp.controleMedicamentos.internalUser">Internal User</label>
          <select class="form-control" id="field_internalUser" data-cy="internalUser" name="internalUser" formControlName="internalUser" [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div> -->
      </div>
      <div style="margin-top: 15px; margin-bottom: 15px">
        <button
          style="width: 100%"
          type="button"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          (click)="save()"
        >
          <span style="font-weight: bold">Cadastrar</span>
        </button>
      </div>
      <app-alert-error></app-alert-error>
    </form>
  </div>
</div>
