<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-10" style="max-width: 400px">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h4 class="text-center" style="font-weight: bold" id="app-atividade-fisica-heading" data-cy="AtividadeFisicaCreateUpdateHeading">
        Cadastrar Atividade Fisica
      </h4>
      <div>
        <app-alert-error></app-alert-error>
        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" appTranslate="healthFitApp.atividadeFisica.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }
        <div class="mb-3">
          <label class="form-label" for="field_tipoAtividade" style="font-weight: bold">Tipo de Atividade</label>
          <select
            class="form-control"
            name="tipoAtividade"
            formControlName="tipoAtividade"
            id="field_tipoAtividade"
            data-cy="tipoAtividade"
          >
            <option [ngValue]="null">{{ 'healthFitApp.TipoAtividade.null' | translate }}</option>
            @for (tipoAtividade of tipoAtividadeValues; track $index) {
              <option [value]="tipoAtividade">{{ 'healthFitApp.TipoAtividade.' + tipoAtividade | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataHorario" style="font-weight: bold">Dia e Horário</label>
          <div class="d-flex">
            <input
              id="field_dataHorario"
              data-cy="dataHorario"
              type="datetime-local"
              class="form-control"
              name="dataHorario"
              formControlName="dataHorario"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_duracao" style="font-weight: bold">Duração da Atividade (Horas)</label>
          <input type="number" class="form-control" name="duracao" id="field_duracao" data-cy="duracao" formControlName="duracao" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_passosCalorias" style="font-weight: bold">Calorias Queimadas (Cal)</label>
          <input
            type="number"
            class="form-control"
            name="passosCalorias"
            id="field_passosCalorias"
            data-cy="passosCalorias"
            formControlName="passosCalorias"
          />
        </div>

        <!-- <div class="mb-3">
          <label class="form-label" for="field_internalUser" appTranslate="healthFitApp.atividadeFisica.internalUser">Internal User</label>
          <select
            class="form-control"
            id="field_internalUser"
            data-cy="internalUser"
            name="internalUser"
            formControlName="internalUser"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div> -->
      </div>

      <div>
        <!-- <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button> -->
        <button
          style="width: 100%; background-color: #708090; color: white"
          (click)="save()"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn"
        >
          <span style="font-weight: bold">Cadastrar</span>
        </button>
      </div>
    </form>
  </div>
</div>
