<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-10" style="max-width: 400px">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h4 class="text-center" style="font-weight: bold" id="app-dieta-heading" data-cy="DietaCreateUpdateHeading" appTranslate="">
        Registrar Alimentos Consumidos
      </h4>
      <div>
        <app-alert-error></app-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" appTranslate="healthFitApp.dieta.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" style="font-weight: bold" for="field_descricaoRefeicao">Nome da Alimentação</label>
          <input
            type="text"
            class="form-control"
            name="descricaoRefeicao"
            id="field_descricaoRefeicao"
            data-cy="descricaoRefeicao"
            formControlName="descricaoRefeicao"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" style="font-weight: bold" for="field_dataHorarioRefeicao">Dia e Horário da Alimentação</label>
          <div class="d-flex">
            <input
              id="field_dataHorarioRefeicao"
              data-cy="dataHorarioRefeicao"
              type="datetime-local"
              class="form-control"
              name="dataHorarioRefeicao"
              formControlName="dataHorarioRefeicao"
              placeholder="DD/MM/YYYY HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" style="font-weight: bold" for="field_caloriasConsumidas">Total de Calorias Consumidas</label>
          <input
            type="number"
            class="form-control"
            name="caloriasConsumidas"
            id="field_caloriasConsumidas"
            data-cy="caloriasConsumidas"
            formControlName="caloriasConsumidas"
          />
        </div>
      </div>
      <!-- <div class="" style="width: 100%; margin-bottom: 10px;">
        <button type="button" style="width: 100%;" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="LimparCampos()">
          <span>Limpar campos</span>
        </button>
      </div> -->
      <div>
        <button
          type="submit"
          (click)="save()"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          style="width: 100%"
        >
          <span style="font-weight: bold">Registrar</span>
        </button>
      </div>
    </form>
  </div>
</div>
