<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (usuario()) {
      <div>
        <h2 data-cy="usuarioDetailsHeading"><span appTranslate="healthFitApp.usuario.detail.title">Usuario</span></h2>

        <hr />

        <app-alert-error></app-alert-error>

        <app-alert></app-alert>

        <dl class="row-md jh-entity-details">
          <dt><span appTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ usuario()!.id }}</span>
          </dd>
          <dt><span appTranslate="healthFitApp.usuario.plano">Plano</span></dt>
          <dd>
            <span [appTranslate]="'healthFitApp.TipoPlano.' + (usuario()!.plano ?? 'null')">{{
              { null: '', GRATUITO: 'GRATUITO', BRONZE: 'BRONZE', PRATA: 'PRATA', OURO: 'OURO' }[usuario()!.plano ?? 'null']
            }}</span>
          </dd>
          <dt><span appTranslate="healthFitApp.usuario.dataRegistro">Data Registro</span></dt>
          <dd>
            <span>{{ usuario()!.dataRegistro | formatMediumDatetime }}</span>
          </dd>
          <dt><span appTranslate="healthFitApp.usuario.internalUser">Internal User</span></dt>
          <dd>
            <span>{{ usuario()!.internalUser?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/usuario', usuario()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
